<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="ISTATInfoBusiness" type="FMM.BLL.Statistics.ISTATInfoBusiness,FMM.BLL.Statistics" />
      <typeAlias alias="STATInfoBusiness" type="FMM.BLL.Statistics.STATInfoBusiness,FMM.BLL.Statistics" />    
    </typeAliases>
    <containers>
      <container name="ContainerBusiness">
        <register type="ISTATInfoBusiness" mapTo="STATInfoBusiness">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>
