<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="ISTATInfoDataProviderBase" type="FMM.DAL.Statistics.ISTATInfoDataProviderBase,FMM.DAL.Statistics" />
      <typeAlias alias="STATInfoDataProvider" type="FMM.DAL.Statistics.STATInfoDataProvider,FMM.DAL.Statistics" />
    </typeAliases>
    <containers>
      <container name="ContainerDataAccess">
        <register type="ISTATInfoDataProviderBase" mapTo="STATInfoDataProvider">
          <lifetime type="singleton" />
        </register>
      </container>
    </containers>
  </unity>
</configuration>
