@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using ForMirMonitor.ViewModels
@model SearchViewListModels


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="../Home/Index">首页</a>
                </li>
                <li>
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li class="active">
                    <a href="../Search/Index">信息查询</a>
                </li>


                <li class="pull-right">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon icon-wrench"></span>
                    </button>
                </li>
            </ul>
            <div class="panel panel-success" style="margin-bottom:5px;margin-top:5px">
                <div class="panel-body">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td width="100px" align="right">
                                    <span>Form：</span>
                                </td>
                                <td width="180px">
                                    <input id="BeginDate" type="date" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>To：</span>
                                </td>
                                <td width="180px">
                                    <input id="EndDate" type="date" style="width:180px">
                                </td>
                                <td width="1px" align="right">
                                    <span>STATId：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="STATId" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>QQ：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="QQ" style="width:180px">
                                </td>
                                <td style="width:100px" align="right">
                                    <button id="Query" type="button" class="btn btn-success btn-sm">
                                        <span class="">Search</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td width="100px" align="right">
                                    <span>GroupNO：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control" id="GroupNO">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - erp - </option>
                                        <option value="2"> - ec - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>tag：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Tag">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - 春游 - </option>
                                        <option value="2"> - 体检 - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>Status：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Status">
                                        <option value="1">有效</option>
                                        <option value="0">失效</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="width:100px" align="right">
                                    <button id="Reset" type="button" class="btn btn-success btn-sm">
                                        <span class="">&nbsp;Reset&nbsp;</span>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">下载模板</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导出</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导入</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">编辑</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-danger btn-sm">
                    <span class="">作废</span>
                </button>
            </div>
            <div class="panel panel-info" style="margin-top:5px">
                @Html.Raw(Model.PagersTopHtml)
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    STATId
                                </th>
                                <th>
                                    QQ
                                </th>
                                <th>
                                    GroupNo
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Tag
                                </th>
                                <th>
                                    Tips
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody id="STATInfoList">
                            @Html.Raw(Model.STATInfoListHtml)
                        </tbody>
                    </table>
                    <div>
                        @Html.Raw(Model.PagersBottomHtml)
                    </div>


                </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 40%;">
                        <span class="sr-only">40% 完成</span>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">面板标题</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {

                $("#Query").click(function () {
                    QueryPost(1);
                });

                $("#download").click(function () {


                    var path = "http://pic23.nipic.com/20120817/10703279_193118224000_2.jpg";
                    var filename = "testfile";
                    $.ajax({
                        type: "post",
                        url: "/home/DownLoad",
                        data: { strName: filename, strPath: path },
                        dataType: "json",
                        success: function (data) {
                            alert("下载完成");
                        }
                    });
                    alert(1);
                });
                /* RMA规则信息查询 */
                function QueryPost(pageNo) {

                    var queryModel = getQuery(pageNo);
                    if (queryModel == null) {
                        alert("查询异常");
                        return;
                    }
                    //var loading = new YTErp.UI.Forms.Loading("#RMARuleList");
                    $.ajax(
                    {
                        url: "/search/Query",
                        type: "POST",
                        data: queryModel,
                        //beforeSend: function () {
                        //    AjaxStart();
                        //},
                        //complete: function () {
                        //    AjaxStop();
                        //},
                        success: function (data) {
                            //$("#RMARuleList").html(data.PagersRMARuleHtml);
                            $("#topRMAPageInfo").html(data.PagersTopHtml);
                            $("#bottomRMAPageInfo").html(data.PagersBottomHtml);
                            //GetCheckedByHidden();
                            //$("#hiddenQueryModel").val($.telerik.toJson(queryModel));

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("error");
                        }
                    });
                }
                /* RMA规则信息查询结束 */

                //获取查询条件
                function getQuery(pageNo) {
                    var obj = {
                        "query.STATId": $("#STATId").val(),
                        "query.BeginDate": $("#BeginDate").val(),
                        "query.EndDate": $("#EndDate").val(),
                        "query.QQ": $("#QQ").val(),
                        "query.GroupNO": $("#GroupNO").val(),
                        "query.Tag": $("#Tag").val(),
                        "query.Status": $("#Status").val(),
                        // "query.PageType": $("#hiddenPageType").val(),
                        "pager.CurrentPage": pageNo,
                        "pager.PageSize": "10"
                    };
                    return obj;
                }
                /* 翻页查询信息(TOP) */
                function HeadPageRMARule() {//首页
                    if ($("span[name='currentpageRMARule']").eq(0).text() == "1") {
                        alert("当前已经是首页");
                        return;
                    }
                    QueryPost(1);
                }
                function PrePageRMARule() {//上一页
                    if ($("span[name='currentpageRMARule']").eq(0).text() == "1") {
                        alert("当前已经是首页");
                        return;
                    }
                    QueryPost($("span[name='currentpageRMARule']").eq(0).text() * 1 - 1);
                }
                function NextPageRMARule() {//下一页
                    if ($("span[name='currentpageRMARule']").eq(0).text() == $("span[name='totalpagesRMARule']").eq(0).text()) {
                        alert("当前已经是最后一页");
                        return;
                    }
                    QueryPost($("span[name='currentpageRMARule']").eq(0).text() * 1 + 1);
                }
                function EndPageRMARule() {//末页
                    if ($("span[name='currentpageRMARule']").eq(0).text() == $("span[name='totalpagesRMARule']").eq(0).text()) {
                        alert("当前已经是最后一页");
                        return;
                    }
                    QueryPost($("span[name='totalpagesRMARule']").eq(0).text() * 1);
                }
                function PageGORMARule() {//跳转
                    if ($("input[name='gotopageRMARule']").val() == "") return;
                    if ($("input[name='gotopageRMARule']").val() * 1 >= $("span[name='totalpagesRMARule']").eq(0).text() * 1) {
                        QueryPost($("span[name='totalpagesRMARule']").eq(0).text() * 1);
                    }
                    else if ($("input[name='gotopageRMARule']").val() * 1 == $("span[name='currentpageRMARule']").eq(0).text() * 1) {
                        return;
                    }
                    else {
                        QueryPost($("input[name='gotopageRMARule']").val());
                    }
                }
                /* 翻页.RMA规则查询信息结束 */


            });
        </script>
