@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using ForMirMonitor.ViewModels
@model SearchViewListModels

<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>*@

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/bootstrap.js"></script>

<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


@*2、bootstrap组件引用*@
<script src="~/Content/bootstrap/bootstrap.js"></script>
<link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />

@*3、bootstrap table组件以及中文包的引用*@
<script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
<link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

@*4、页面Js文件的引用*@
<script src="~/Scripts/Search/index.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="../Home/Index">首页</a>
                </li>
                <li>
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li class="active">
                    <a href="../Search/Index">信息查询</a>
                </li>


                <li class="pull-right">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon icon-wrench"></span>
                    </button>
                </li>
            </ul>
            <div class="panel panel-success" style="margin-bottom:5px;margin-top:5px">
                <div class="panel-body">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td width="100px" align="right">
                                    <span>Form：</span>
                                </td>
                                <td width="180px">
                                    <input id="BeginDate" type="date" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>To：</span>
                                </td>
                                <td width="180px">
                                    <input id="EndDate" type="date" style="width:180px">
                                </td>
                                <td width="1px" align="right">
                                    <span>STATId：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="STATId" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>QQ：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="QQ" style="width:180px">
                                </td>
                                <td style="width:100px" align="right">
                                    <button id="Query" type="button" class="btn btn-success btn-sm">
                                        <span class="">Search</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td width="100px" align="right">
                                    <span>GroupNO：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control" id="GroupNO">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - erp - </option>
                                        <option value="2"> - ec - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>tag：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Tag">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - 春游 - </option>
                                        <option value="2"> - 体检 - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>Status：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Status">
                                        <option value="1">有效</option>
                                        <option value="0">失效</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="width:100px" align="right">
                                    <button id="Reset" type="button" class="btn btn-success btn-sm">
                                        <span class="">&nbsp;Reset&nbsp;</span>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">下载模板</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导出</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导入</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">编辑</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-danger btn-sm">
                    <span class="">作废</span>
                </button>
            </div>
            <div class="panel panel-info" style="margin-top:5px">
                @Html.Raw(Model.PagersTopHtml)
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    STATId
                                </th>
                                <th>
                                    QQ
                                </th>
                                <th>
                                    GroupNo
                                </th>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Tag
                                </th>
                                <th>
                                    Tips
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody id="STATInfoList">
                            @Html.Raw(Model.STATInfoListHtml)
                        </tbody>
                    </table>
                    <div>
                        @Html.Raw(Model.PagersBottomHtml)
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">查询条件</div>
                            <div class="panel-body">
                                <form id="formSearch" class="form-horizontal">
                                    <div class="form-group" style="margin-top:15px">
                                        <label class="control-label col-sm-1" for="txt_search_departmentname">部门名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="txt_search_departmentname">
                                        </div>
                                        <label class="control-label col-sm-1" for="txt_search_statu">状态</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="txt_search_statu">
                                        </div>
                                        <div class="col-sm-4" style="text-align:left;">
                                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="toolbar" class="btn-group">
                            <button id="btn_add" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button>
                            <button id="btn_edit" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                            </button>
                            <button id="btn_delete" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                            </button>
                        </div>
                        <table id="tb_statinfo"></table>
                    </div>


                </div>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 40%;">
                        <span class="sr-only">40% 完成</span>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">面板标题</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

