@{
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
<link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="~/Content/toastr/toastr.js"></script>
<link href="~/Content/toastr/toastr.css" rel="stylesheet" />
<script src="~/Content/timepicker/jquery.datetimepicker.js"></script>
<link href="~/Content/timepicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/Search/index.js"></script>
<script src="~/Content/upload/vendor/jquery.ui.widget.js"></script>
<script src="~/Content/upload/jquery.fileupload.js"></script>
<script src="~/Content/upload/jquery.iframe-transport.js"></script>
<link href="~/Content/upload/jquery.fileupload.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="../Home/Index">首页</a>
                </li>
                <li>
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li class="active">
                    <a href="../Search/Index">信息查询</a>
                </li>


                <li class="pull-right">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon icon-wrench"></span>
                    </button>
                </li>
            </ul>
            <div class="panel panel-success" style="margin-bottom:5px;margin-top:5px">
                <div class="panel-body">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td width="100px" align="right">
                                    <span>Form：</span>
                                </td>
                                <td width="180px">
                                    <input id="BeginDate" type="text"  style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>To：</span>
                                </td>
                                <td width="180px">
                                    <input id="EndDate" type="text" style="width:180px">
                                </td>
                                <td width="1px" align="right">
                                    <span>STATId：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="STATId" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>QQ：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="QQ" style="width:180px">
                                </td>
                                <td style="width:100px" align="right">
                                    <button id="btn_Query" type="button" class="btn btn-success btn-sm">
                                        <span class="">Search</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td width="100px" align="right">
                                    <span>GroupNO：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control" id="GroupNO">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - erp - </option>
                                        <option value="2"> - ec - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>tag：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Tag">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - 春游 - </option>
                                        <option value="2"> - 体检 - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>Status：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Status">
                                        <option value="1">有效</option>
                                        <option value="0">失效</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="width:100px" align="right">
                                    <button id="btn_Reset" type="button" class="btn btn-success btn-sm">
                                        <span class="">&nbsp;Reset&nbsp;</span>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div>
                <button id="btn_Add" type="button" class="btn btn-info btn-sm">
                    <span class="">新增</span>
                </button>
                <button id="btn_Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">下载模板</span>
                </button>
                <button id="btn_DataExport" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导出</span>
                </button>
                <span  class="btn btn-info btn-sm fileinput-button" name="btn_DataImport">
                    <span>数据导入</span>
                    <input type="file" multiple="" name="files[]"  id="btn_DataImport" >
                </span>
                <button id="btn_Edit" type="button" class="btn btn-info btn-sm">
                    <span class="">编辑</span>
                </button>
                <button id="btn_Invalid" type="button" class="btn btn-danger btn-sm">
                    <span class="">作废</span>
                </button>
            </div>
            <div class="panel panel-info" style="margin-top:5px">
                <div>
                    <table id="tb_statinfo"></table>
                </div>
                <div class="modal fade" id="dialog_Edit" tabindex="-1" role="dialog" aria-labelledby="dialog_EditLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="dialog_EditLabel">编辑</h4>
                            </div>
                            <div class="modal-body">
                                <div class="hide">
                                    <label for="Edit_STATId">STATId</label>
                                    <input type="text" name="Edit_STATId" class="form-control" id="Edit_STATId" >
                                </div>
                                <div class="form-group">
                                    <label for="Edit_QQ">QQ</label>
                                    <input type="text" name="txt_QQ" class="form-control" id="Edit_QQ" placeholder="1910347321">
                                </div>
                                <div class="form-group">
                                    <label for="Edit_GroupNo">GroupNo</label>
                                    <select class="form-control" name="Edit_GroupNo" id="Edit_GroupNo">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - erp - </option>
                                        <option value="2"> - ec - </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Edit_Id">ID</label>
                                    <input type="text" name="Edit_Id" class="form-control" id="Edit_Id">
                                </div>
                                <div class="form-group">
                                    <label for="Edit_Tag">Tag</label>
                                    <select class="form-control " id="Edit_Tag" name="Edit_Tag">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - 春游 - </option>
                                        <option value="2"> - 体检 - </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Edit_Tips">Tips</label>
                                    <input type="text" name="Edit_Tips" class="form-control" id="Edit_Tips" placeholder="svb:Cod_Adam">
                                </div>
                                <div class="form-group">
                                    <label for="Edit_Status">Status</label>
                                    <select class="form-control " id="Edit_Status" name="Edit_Status">
                                        <option value="1">有效</option>
                                        <option value="0">失效</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
                                <button type="button" id="Edit_btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
  </div>