@{
    ViewBag.Title = "Index";
    Layout = null;
}
@using ForMirMonitor.ViewModels
@model SearchViewListModels

<script src="~/Scripts/jquery-1.10.2.js"></script>
@*<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>*@

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/bootstrap.js"></script>



@*2、bootstrap组件引用*@
<script src="~/Content/bootstrap/bootstrap.js"></script>
<link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />

@*3、bootstrap table组件以及中文包的引用*@
<script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
<link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

@*4、页面Js文件的引用*@
<script src="~/Scripts/Search/index.js"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="../Home/Index">首页</a>
                </li>
                <li>
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li class="active">
                    <a href="../Search/Index">信息查询</a>
                </li>


                <li class="pull-right">
                    <button type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon icon-wrench"></span>
                    </button>
                </li>
            </ul>
            <div class="panel panel-success" style="margin-bottom:5px;margin-top:5px">
                <div class="panel-body">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td width="100px" align="right">
                                    <span>Form：</span>
                                </td>
                                <td width="180px">
                                    <input id="BeginDate" type="date" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>To：</span>
                                </td>
                                <td width="180px">
                                    <input id="EndDate" type="date" style="width:180px">
                                </td>
                                <td width="1px" align="right">
                                    <span>STATId：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="STATId" style="width:180px">
                                </td>
                                <td width="100px" align="right">
                                    <span>QQ：</span>
                                </td>
                                <td width="180px">
                                    <input type="text" id="QQ" style="width:180px">
                                </td>
                                <td style="width:100px" align="right">
                                    <button id="Query" type="button" class="btn btn-success btn-sm">
                                        <span class="">Search</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td width="100px" align="right">
                                    <span>GroupNO：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control" id="GroupNO">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - erp - </option>
                                        <option value="2"> - ec - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>tag：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Tag">
                                        <option value="-1"> - 请选择 - </option>
                                        <option value="1"> - 春游 - </option>
                                        <option value="2"> - 体检 - </option>
                                    </select>
                                </td>
                                <td width="100px" align="right">
                                    <span>Status：</span>
                                </td>
                                <td width="180px">
                                    <select class="form-control " id="Status">
                                        <option value="1">有效</option>
                                        <option value="0">失效</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="width:100px" align="right">
                                    <button id="Reset" type="button" class="btn btn-success btn-sm">
                                        <span class="">&nbsp;Reset&nbsp;</span>
                                    </button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <div>
                <button id="Add" type="button" class="btn btn-info btn-sm">
                    <span class="">新增</span>
                </button>
                <button id="Download_commmit_model" type="button" class="btn btn-info btn-sm">
                    <span class="">下载模板</span>
                </button>
                <button id="DataExport" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导出</span>
                </button>
                <button id="DataInport" type="button" class="btn btn-info btn-sm">
                    <span class="">数据导入</span>
                </button>
                <button id="Edit" type="button" class="btn btn-info btn-sm">
                    <span class="">编辑</span>
                </button>
                <button id="Invalid" type="button" class="btn btn-danger btn-sm">
                    <span class="">作废</span>
                </button>
            </div>
            <div class="panel panel-info" style="margin-top:5px">
                    <div>
                        @*<div id="toolbar" class="btn-group">
                            <button id="btn_add" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button>
                            <button id="btn_edit" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                            </button>
                            <button id="btn_delete" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                            </button>
                        </div>*@
                        <table id="tb_statinfo"></table>
                    </div>


                </div>
            </div>
        </div>
  </div>


