
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/path/to/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="/path/to/dist/css/bootstrapValidator.min.css" />

<script type="text/javascript" src="/path/to/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/path/to/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/path/to/dist/js/bootstrapValidator.min.js"></script>



<div class="container-fluid">
    <div class="row-fluid" >
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="">
                    <a href="../Home/Index">首页</a>
                </li>
                <li class="active">
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li>
                    <a href="../Search/Index">信息查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        提交信息后即可查询确认，如信息有误请重新提交并备注，或联系管理员修改。
    </div>
    <div class="panel panel-primary" style="width:600px;margin-top:0px">
        <div class="panel-heading">
            <h3 class="panel-title">采集单</h3>
        </div>
        <div class="panel-body">
            <div style="padding: 50px 50px 10px;">
                <form class="commitfrom" role="form" action="~/Commit/CommitSTATInfo">
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon" >&nbsp;&nbsp;&nbsp;QQ&nbsp;&nbsp;</span>
                        <input type="text" name="QQ" class="form-control" placeholder="191047321" />
                        <span style="color:Highlight;display:none"> * 请确认QQ输入正确</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">Group</span>
                        <select class="form-control" name="GroupNo">
                            <option value="-1">- 请选择 -</option>
                            <option value="1">- 15期vip -</option>
                            <option value="2">- 第5期高级班 -</option>
                        </select>
                        <span style="color:Highlight;display:none"> * 请选择标签</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" name="ID" class="form-control" placeholder="22-Adam-男-北京">
                        <span style="color:Highlight;display:none"> * 群昵称</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;Tag&nbsp;&nbsp;</span>
                        <select class="form-control" name="Tag">
                            <option value="-1">- 请选择 -</option>
                            <option value="1">- 前50号学员参加第五期 -</option>
                            <option value="2">- 广州区线下聚会活动 -</option>
                        </select>
                        <span style="color:Highlight;display:none"> * 请选择标签</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;Tips&nbsp;</span>
                        <input type="text" name="Tips" class="form-control" placeholder="svn：Cod_Adam">
                        <span style=""></span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <button type="submit" class="btn btn-primary" style="width:334px" >Commit</button>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.commitform').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            QQ: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The QQ number is required and cannot be empty'
                    },
                    stringLength: {
                        min: 5,
                        max: 12,
                        message: 'The username must be more than 5 and less than 12 characters long'
                    },
                    regexp: {
                        regexp: /[1-9][0-9]{4,}/,
                        message: 'Please write your QQ here'
                    }
                }
            },
            ID: {
                validators: {
                    notEmpty: {
                        message: 'The email is required and cannot be empty'
                    },
                }
            }
        }
    });
});
</script>