
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>




<div class="container-fluid">
    <div class="row-fluid" >
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="">
                    <a href="../Home/Index">首页</a>
                </li>
                <li class="active">
                    <a href="../Commit/Index">信息采集</a>
                </li>
                <li>
                    <a href="../Search/Index">信息查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary" style="width:600px;">
        <div class="panel-heading">
            <h3 class="panel-title">采集单</h3>
        </div>
        <div class="panel-body">
            <div style="padding: 50px 50px 10px;">
                <form class="bs-example bs-example-form" role="form" action="~/Home/InfoCommit">
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;&nbsp;QQ&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" placeholder="191047321" />
                        <span style="color:Highlight;display:none"> * 请确认QQ输入正确</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">Group</span>
                        <select class="form-control">
                            <option value="">- 请选择 -</option>
                            <option value="">- 15期vip -</option>
                            <option value="">- 第5期高级班 -</option>
                        </select>
                        <span style="color:Highlight;display:none"> * 请选择标签</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;&nbsp;ID&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" class="form-control" placeholder="22-Adam-男-北京">
                        <span style="color:Highlight;display:none"> * 群昵称</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;Tag&nbsp;&nbsp;</span>
                        <select class="form-control">
                            <option value="">- 请选择 -</option>
                            <option value="">- 前50号学员参加第五期 -</option>
                            <option value="">- 广州区线下聚会活动 -</option>
                        </select>
                        <span style="color:Highlight;display:none"> * 请选择标签</span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <span class="input-group-addon">&nbsp;&nbsp;Tips&nbsp;</span>
                        <input type="text" class="form-control" placeholder="svn：Cod_Adam">
                        <span style=""></span>
                    </div>
                    <br>
                    <div class="input-group input-group-sm ">
                        <button type="submit" class="btn btn-primary" style="width:334px" >Commit</button>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">
        &times;
    </button>
    警告！请不要提交。
</div>