
@{
    Layout = null;
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="../Home/Index">首页</a>
                </li>
                <li>
                    <a href="../Commit/index">信息采集</a>
                </li>
                <li>
                    <a href="../Search/index">信息查询</a>
                </li>
                <li>
                    <a href="../Subscribe/Index">信息订阅</a>
                </li>
                <li>
                    <div class="pull-right">
                        <span id="qqLoginBtn"></span>
                    </div>
                </li>
            </ul>

        </div>


    </div>
 </div>
    @*<!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title></title>
        </head>
        <body>
            <div>
            </div>
        </body>
        </html>*@
